<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<title>About Us | ClearTrail CA</title>
<body class="filler colo text-white custom-text-shadow text-center">
    <%- include('./partials/nav.ejs') %>

    <main class="container mt-5 text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="Intro text-white custom-text-shadow">About Us</h1>
            </div>
        </div>
    </main>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card transparent-box">
                    <div class="card-body">
                        <h5 class="card-title text-center">Who We Are</h5>
                        <p class="card-text text-center">
                            Clear Trail CA is a project driven by our shared passion for the great outdoors. We are a team of dedicated individuals who believe that everyone should have the opportunity to explore the stunning hiking trails of Canada. Our mission is to provide a platform that not only showcases these beautiful trails but also empowers outdoor enthusiasts with real-time air quality data to ensure safe and enjoyable adventures.XZ
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card transparent-box">
                    <div class="card-body">
                        <h5 class="card-title text-center">Our Mission</h5>
                        <p class="card-text text-center">
                            At Clear Trail CA, our mission is to promote the exploration of Canada's diverse landscapes through hiking. We aim to ensure the safety and well-being of our users by keeping them informed about air quality conditions. We are committed to fostering an eco-conscious community that values and respects the environment, working towards the preservation of Canada's natural beauty.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card transparent-box">
                    <div class="card-body">
                        <h5 class="card-title text-center">What We Offer</h5>
                        <p class="card-text text-center">
                            Our website offers a range of features to enhance your hiking experience. Explore a wide variety of hiking trails, from the rugged terrains of the Rockies to the tranquil forests of Eastern Canada. Stay up-to-date with real-time air quality information for each trail, ensuring your well-being during your adventure. Connect with fellow hikers, share your experiences, and become a part of a thriving online community of nature enthusiasts.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<%- include('./partials/foot.ejs') %>
</html>
