<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>
    
    <title>User Profile | ClearTrail CA</title>
<body class="filler colo text-white custom-text-shadow text-center">

    <%- include('./partials/nav.ejs') %>



    <main class="container mt-4 container-custom text-center">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="Intro colo text-white custom-text-shadow text-center" style="margin-top: 10px; font-size: 75px;">ClearTrail CA</h1>
                <br>
            </div>
        </div>
    </main>

    




    <br><br>
    <div class="col-md-6">
    <div class="transparent-box">
        <div class="row justify-content-center">
            <div>
                <br>
                <p style="font-family: Oswald; font-size: 25px; text-align: center;">
                    Welcome to Clear Trail CA, your ultimate destination for exploring the breathtaking hiking trails of Canada while staying informed about air quality conditions. 
                </p>
            </div>
        </div>
    </div>
</div>
    <br><br><br>

    <div class="container">
        <div class="jumbotron text-center text-primary custom-text-shadow colo text-info">
            <h2><span class="fa fa-lock"></span> Social Authentication</h2>
            <p class="colo text-white custom-text-shadow">Login with:</p>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
        </div>
    </div>

    <%- include('./partials/foot.ejs') %>
</body>
</html>
