<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Terminology | ClearTrail CA</title>
<body class="filler">
    <%- include('./partials/nav.ejs') %>
    <div class="container mt-4">
       
            <h1 class="Intro2 colo text-white custom-text-shadow text-center" style="margin-top: 250px; font-size: 90px;">Terminology</h1>
            <br>
            <div class="transparent-box">
            <div class="terminology-section">
                <h2 class="text-center">Air Quality Terminology</h2>
                <div class="container">
                    
                    <img src="Images/AQHI.jpg" alt="AQHI" class="img-fluid">
                    <div class="bg-light p-5 rounded mx-auto shadow" style="width: 100%; opacity: 0.9; margin-top: 20px;">
                        <h3 class="text-dark">AQHI</h3>
                        <p class="text-dark">The AQHI provides a number from 1 to 10 to indicate the level of relative health risk associated with local air quality. 
                            The higher the AQHI number, the greater the health risk and need to take precautions. Occasionally during extreme pollution events, such as 
                            a forest fire smoke event, AQHI levels may reach 10 or 10+, indicating Very High Health Risk.</p>
                    </div>
                </div>
            </div>
        </div>
<br>
<br>
            <div class="transparent-box">
            <div class="terminology-section">
                <h2 class="text-center">Trail Terminology</h2>
                <ul>
                    <li>
                        <strong>Trailhead:</strong> The starting point of a hiking trail.
                    </li>
                    <li>
                        <strong>Elevation Gain:</strong> The increase in elevation from the trailhead to the highest point on the trail.
                    </li>
                    <li>
                        <strong>Switchback:</strong> A trail segment that changes direction by zigzagging up a steep slope.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <%- include('./partials/foot.ejs') %>
</body>
</html>
